.App {
  $bgColor: hsl(200, 80%, 80%);
  $fgColor: darken($bgColor, 50%);

  * {
    font: 12px sans-serif;
  }

  .fieldGroup {
    line-height: 2em;
  }

  // Change the mouse pointer for all fields
  input, select {
    outline: none;

    &:disabled, &[disabled] {
      cursor: not-allowed;
    }
  }

  input[type="number"] {
    width: 3em;

    &:disabled, &[disabled] {
      background-color: #EEE;
    }
  }

  input[type="button"] {
    color: $fgColor;
    background-color: $bgColor;
    border: 1px solid $fgColor;
    margin-right: 0.5em;
    min-width: 5em;

    &:focus, &:hover {
      background-color: lighten($bgColor, 15%);
    }

    &:active {
      background-color: lighten($bgColor, 25%);
    }

    &:disabled, &[disabled] {
      color: desaturate($fgColor, 75%);
      background-color: desaturate($bgColor, 75%);
      border-color: desaturate($fgColor, 75%);
    }
  }

  .graphControls, .algoControls {
    padding: 0 1em;
    float: left;

    h2 {
      margin: 0;
      font-weight: bold;
    }

    .buttonGroup {
      padding: 0.5em 0;

      input[type="button"] {
        margin-right: 0.5em;
      }
    }
  }

  .graphRenderer {
    clear: both;
  }
}
