svg {
  background-color: #FFF;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;

  .edge {

    path {
      fill: none;
      stroke: black;
      stroke-width: 2px;
    }

    text {
      text-anchor: middle;
      font: 12px sans-serif;
      font-weight: bold;
      pointer-events: none;
    }
  }

  .edge {

    rect {
      fill: white;
      stroke: black;
    }
  }

  .node {

    circle {
      fill: white;
      stroke: gray;
      stroke-width: 2px;
    }

    text {
      text-anchor: middle;
      font: 12px sans-serif;
      font-weight: bold;
      pointer-events: none;
    }
  }
}

// Node colors

@mixin coloredNode($color) {

  circle {
    fill: $color;
    stroke: darken($color, 50%);
  }

  text {
    fill: darken($color, 75%);
  }
}

.node.unvisited {
  @include coloredNode(#ffffbf);
}

.node.start {
  @include coloredNode(#bfeaff);
}

.node.end {
  @include coloredNode(#ffbfbf);
}

.node.visited {
  @include coloredNode(#AFA);
}

.edge {

  &.visited path {
    stroke: green !important;
  }

  &.highlighted path {
    stroke: red !important;
  }
}
